html,
body {
    height: 100%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    color: #222;
}
section{
    padding: 2em;
}

h1 {
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.25em;
}

h2 {
    font-size: 2em;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
}


p {
    text-align: justify;
}